* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: white;
	margin: 0 10px;
}
/* header */
.header {
    background: rgb(40, 40, 70);
    padding: 20px;
    display: flex;
    justify-content: space-between;
	align-items: center;
}
/* picture and name */
.header div {
    font-size: 30px;
	padding: 0;
    background-color: aqua;
	display: flex;
	align-items: center;
}
.header div h1{
	color:rgb(40, 40, 70);
	padding: 0 10px;
	margin-right: 10px;
}
.header div img{
    height: 65px;
    border-radius: 50%;
    border: 2px solid rgb(40, 40, 70);
    margin:  10px;
}
/* navigation menu */
.header nav ul {
	list-style-type: none;
    margin-left: 25px;
	margin-right: 25px;
	display: flex;
	align-items: stretch;
}

li {
	padding: 10px;
	margin-right:  25px;
}

li > a{
	font-size: 35px;
	line-height: 1.5;
	color: aqua;
	padding: 10px;
}
/* banner */
.hero-banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-bottom: 0 10px; */
    background-size: cover;
    background-position: center;
    background-image: url(../images/02-hero-bg.jpg);
	height: 200px;
}
/* stock admin turned web developer */
.hero-banner div {
    background-color: aqua;
    color:rgb(40, 40, 70) ;
	margin:0 80px 30px;
	padding: 10px;
}
/* about me paragraph */
p {
    font-size: 30px;
	padding: 20px;
}
.page-wrapper{
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr 4fr;
	grid-template-rows:0.2fr 1fr 0.2fr;
}
.header-section{
    font-size: 35px;
    padding: 30px;
    margin: 50px;
    border-right: 5px solid rgb(40, 40, 70);
}
	
.header-section h2{
	float:right;
	color: rgb(40, 40, 70);
	font-size: 10vh;
}

.section-content{
    padding: 25px;
    margin: 10px;
	padding: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3fr 1fr 1fr;
}
.work{
    border: 5px solid #2589bd;
	color: rgb(40, 40, 70);
    margin: 10px;
}
.work-details{
	background: #2589bd;
    padding: 10px;
    margin: 10px 0;
	padding: 10 auto;
	width: fit-content;
	float: inline-start;
}

h2{
    /* text-align: right; */
}
.work1 img{
	width: fit-content;
	height: fit-content;
	background-size: cover;
 	background-position: center;
}
.work{
   	background-size: cover;
    background-position: center;
}
.work1{
    background-image: url(../images/02-surf-report.jpg);
	grid-column: 1/3;
}
.work2{
    background-image: url(../images/02-led-all.jpg);
}
.work3{
    background-image: url(../images/02-calcultor.jpg);
}
.work4{
    background-image: url(../images/02-pastel-puzzles.jpg);
}
.work5{
    background-image: url(../images/02-run-buddy.jpg);
}
.contact-me div ul{
	display: flex;
	flex-direction: row;
	justify-content:space-around;

}
.contact-me div ul li{

}

@media(max-width: 768px) {
	.header {
		font-size: 20px;
		flex-direction: column;
	}

	li > a{
		font-size: 20px;
		line-height: 1.5;
		color: aqua;
		padding: 5px;
	}

	.page-wrapper{
		width: 100%;
		grid-template-columns: 1fr;
	}
	.section-content{
		width:100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.work1{
		grid-column: 1;
	}
	.header-section{
		border-right: 0;
		border-bottom: 3px solid blue;
		align-content: center;
	}
	.header{
		flex-direction: column;
	}
}