* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: white;
	margin: 0 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}
/* header */
.header {
    background: rgb(40, 40, 70);
    padding: 20px;
    display: flex;
    justify-content: space-between;
	align-items: center;
}
/* picture and name */
.header div {
    font-size: 2rem;
	padding: 0;
    background-color: aqua;
	display: flex;
	align-items: center;
}
.header div h1{
	color:rgb(40, 40, 70);
	padding: 0 10px;
	margin-right: 10px;
}
.header div img{
    height: 65px;
    border-radius: 50%;
    border: 2px solid rgb(40, 40, 70);
    margin:  10px;
}
/* navigation menu */
.header nav ul{
	list-style-type: none;
    margin-left: 25px;
	margin-right: 50px;
	display: flex;
	align-items: stretch;
}

.header nav ul li {
	padding: 10px;
	margin-right: px;
}

.header nav ul li > a{
	font-size: 2rem;
	line-height: 1.5;
	color: aqua;
	padding: 10px;
}
/* banner */
.hero-banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-image: url(../images/02-hero-bg.jpg);
	height: 200px;
}
/* stock admin turned web developer */
.hero-banner div {
    background-color: aqua;
    color:rgb(40, 40, 70) ;
	margin:0 80px 30px;
	padding: 10px;
}
.hero-banner div h2 {
	font-size: 3rem;
}

/* about me paragraph */
p {
    font-size: 2rem;
	padding: 20px;
}
/* main content */
.page-wrapper{
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr 4fr;
	grid-template-rows:0.2fr 1fr 0.2fr;
}
.header-section{
    padding:0 10px 0 40%;
    margin: 30px 0 30px 0;
    border-right: 5px solid rgb(40, 40, 70);
	float: inline-end;
}
	
.header-section h2{
	text-align: right;
	color: rgb(40, 40, 70);
	font-size: 5rem;
}

.mywork{
    padding: 25px;
    margin: 10px;
	padding: 0 auto;
	min-height: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3fr 1fr 1fr;
}
.about-me{
	display: flexbox;
	flex-direction: column;
}
.work{
    border: 5px solid #2589bd;
	color: rgb(40, 40, 70);
    margin: 10px;
}
.work-details{
	background: #2589bd;
	width: fit-content;
	align-items: center;
}
.work-details h3{
	font-size: 2rem;
	padding: auto;
}
.work-details p{
	font-size: 22px;
	padding: 0%;
}
.work{
   	background-size: cover;
    background-position: center;
}
.work1{
    background-image: url(../images/02-surf-report.jpg);
	grid-column: 1/3;
}
.work2{
    background-image: url(../images/02-led-all.jpg);
}
.work3{
    background-image: url(../images/02-calcultor.jpg);
}
.work4{
    background-image: url(../images/02-pastel-puzzles.jpg);
}
.work5{
    background-image: url(../images/02-run-buddy.jpg);
}

.contact-me ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.contact-me ul li {
	padding: 10px;
	margin-right: px;
	font-size: 2rem;
	line-height: 1.5;
}

@media(max-width: 1440px) {
	.header {
		font-size: 20px;
		flex-direction: column;
	}

	li > a{
		font-size: 20px;
		color: aqua;
		padding: 5px;
	}

	 .page-wrapper{
		width: 100%;
		grid-template-columns: 1fr;
	}
	.section-content{
		width:100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.work1{
		grid-column: 1;
	}
	.header-section{
		border-right: 0;
		border-bottom: 3px solid #2589bd;
	}
	.header-section h2{
		text-align: left;
		
	}

	.header{
		flex-direction: column;
	}
	.hero-banner div {
		background-color: aqua;
		color:rgb(40, 40, 70) ;
		margin:20px;
		padding: 10px;
		justify-self: center;
	}
	.header-section h2{
		text-align: left;
		color: rgb(40, 40, 70);
		font-size: 3rem;
	}
}
@media(max-width: 768px) {
	.header {
		font-size: 10px;
		flex-direction: column;
	}

	li > a{
		font-size: 10px;
		color: aqua;
		padding: 5px;
	}

	.page-wrapper{
		width: 100%;
		grid-template-columns: 1fr;
	}
	.section-content{
		width:100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.work1{
		grid-column: 1;
	}
	.header-section{
		border-right: 0;
		border-bottom: 3px solid blue;
		align-content: center;
	}
	.header{
		flex-direction: column;
	}
	.hero-banner div {
		background-color: aqua;
		color:rgb(40, 40, 70) ;
		margin:20px;
		padding: 10px;
		justify-self: center;
	}
	.header-section h2{
		text-align: left;
		color: rgb(40, 40, 70);
		font-size: 3rem;
	}
}
@media(max-width: 375px) {
	.header {
		font-size: 9px;
		flex-direction: column;
	}
	ul{
		justify-content: space-between;
	}

	li{
		margin: 5px;
		padding: 0;
		font-size: 14px;
		color: aqua;
		padding: 5px;
		margin: 0;

	}

	.page-wrapper{
		width: 100%;
		grid-template-columns: 1fr;
	}
	.section-content{
		width:100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.work1{
		grid-column: 1;
	}
	.header-section{
		border-right: 0;
		border-bottom: 3px solid blue;
		align-content: center;
	}
	.header{
		flex-direction: column;
	}
	.hero-banner div {
		background-color: aqua;
		color:rgb(40, 40, 70) ;
		margin:20px;
		padding: 10px;
		justify-self: center;
	}
	.header-section h2{
		text-align: left;
		color: rgb(40, 40, 70);
		font-size: 3rem;
	}
}
